.h1{
    text-align: center;
}
.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    padding: 30px;
    background: #000;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}
html,body{
    height:100%;
    width: 100%;
}

.button{
    padding: 20px;
    margin:3px;
    border: 2px solid #000;
    border-radius: 10%;
    cursor: pointer;
}

.row{
    margin: 8px;
}
.row input{
    margin: 0;
    padding: 6px 60px;
    border: 2px solid black;
    border-radius: 5px;
    height: 40px ;
    font-size: large;
}